@import 'normalize.css';

@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

:root {
  --primary: #fe2c55;
  --black: #000;
  --text-color: #333;

  --default-layout-header-height: 60px;
  --default-layout-container: 1150px;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
